.App {
  max-width: 680px;
  margin: 10px 25px 10px auto;
  background: #f9f0e5;
  padding: 132px 20px;
  border-radius: 26px;
  border: 6px double #8902ab;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
.App footer a {
  color: #4112c1;
}

@media (max-width: 900px) {
  .App {
    margin:24px;
    padding: 15px 0px;
    border-radius: 18px;
    border: 2px solid #8902ab;
  }
  .App footer {
    font-size: 13px;
    line-height: 1.7;
    color: #414e9783;
    margin: 40px 0 5px;
  }
}
