.App {
  max-width: 680px;
  margin: 10px 25px 10px auto;
  background: #f9f0e5;
  padding: 132px 20px;
  border-radius: 26px;
  border: 6px double #8902ab;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
.App footer a {
  color: #4112c1;
}
