.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: #312ec3c6;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  margin: 20px 0 0 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
}
.Weather ul {
  padding: 0;
}
.Weather li {
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: bottom;
}
.Weather .btn {
  background: #3a5944;
  border: #3a5944;
  padding: 8px;
}

.Weather .temperature {
  color: #c5640aca;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}
