.Weather {
  border: 2px solid #d393d357;
  font-family: arial, sans-serif;
  color: #312ec3c6;
  padding: 30px 15px;
  border-radius: 20px;
}

.Weather h1 {
  margin: 20px 0 0 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
}
.Weather ul {
  padding: 0;
}
.Weather li {
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: bottom;
  display: inline-block;
}
.Weather .btn {
  background: #620f9a;
  border: #620f9a;
  padding: 8px;
}

.Weather .temperature {
  color: #0059ffde;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
  display: inline-block;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

@media (max-width: 900px) {
  .Weather .temperature {
    font-size: 45px;
    margin: 0px 3px 0;
  }
  .Weather h1 {
    margin: 20px 0 10px 0;
    font-size: 30px;
    line-height: 25px;
  }
  .Weather {
    border: 1.5px solid #d393d357;
    font-family: arial, sans-serif;
    color: #312ec3c6;
    border-radius: 20px;
  }
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -20px;
    margin-left: 3px;
    line-height: 1;
  }
  .Weather canvas {
    margin-right: 1px;
    margin-bottom: 13px;
    margin-top: 4px;
    width: 36px;
    vertical-align: bottom;
    display: inline-block;
  }
  .Weather .btn {
    padding: 7px 6px;
    border-radius: 4px; 
  }
  .Weather ul {
    padding: 3px;
    margin-top: 2px;
  }
  .Weather li {
    font-size: 18px;
    line-height: 28px;
  }
}
