.WeatherForecast {
  text-align: center;
  margin-top: 2.941vh;
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 0.735vh;
}
@media (max-width: 117.64vh) {
  .WeatherForecast {
    text-align: center;
    margin-top: 4.411vh;
  }
  .WeatherForecast-day {
    margin-bottom: 0.735vh;
  }
}
